.header {
  margin-bottom: 10px;
}

.list {
  margin-bottom: 30px;
}

.chip {
  border-radius: 4px;
}

.weekDaysWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.weekDayItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding: 6px;
  border-radius: 8px;
}

.weekDayItemCurrent {
  background: var(--ion-color-medium);
  color: var(--ion-color-medium-contrast);
}

.weekDayItemCurrentDot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--ion-color-primary);
  margin-top: 1px;
}
