.listBackground {//custom-list
  background-color: #f4f4f4;
}

.itemCursor {//custom-item
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.banner {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: rgb(231, 231, 231);
}

.textWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.textWrapper p {
  margin-top: 1%;
  margin-bottom: 1%;
}

.textWrapper h4 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.redText {
  color: red;
}

.minorLeft {
  float: left;
  width: 30%;
}

.minorRight {
  float: right;
  width: 70%;
}