.customListBackground {
  background-color: #f4f4f4;
}

.customItemBorder {
  border-bottom: 1px solid #ddd;
}

.banner {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: rgb(231, 231, 231);
}

.textWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.textWrapper p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.textWrapper h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.minorLeft {
  float: left;
  width: 30%;
}

.minorRight {
  float: right;
  width: 70%;
}