.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: lowercase;
}

.progress {
  background: var(--ion-color-success);
  border-radius: 2px;
  width: 92%;
  height: 3px;
  margin-top: 3px;
}
